{% extends 'base.html' %}
{% block title %}Job Detail{% endblock %}

{% block content %}
<h2>{{ job.title }}</h2>
<p><strong>Description:</strong> {{ job.description }}</p>
<p><strong>Category:</strong> {{ job.category }}</p>


{% if existing_app %}
    <p style="color: green;">✅ You already applied for this job.</p>
{% else %}
    <form method="POST">
        <button type="submit">Apply Now</button>
    </form>
{% endif %}

<a href="{{ url_for('view_jobs') }}">← Back to Jobs</a>
{% endblock %}
